{% extends "layout.html" %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Shubham Mishra</h1>
      <p class="lead text-muted">A data science professional who uses analytical, statistical, and programming skills to extract insights and knowledge from large and complex sets of data. I employ various techniques, tools, and algorithms to analyze data and uncover patterns, trends, and correlations that can drive informed business decisions.</p>
    </div>
  </section>
{% endblock %}
